build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

build --show_timestamps
# Enable colorful output of GCC
build --cxxopt="-fdiagnostics-color=always"
build --copt="-Werror=return-type"

# Print all build command
# build --subcommands

build:dbg --compilation_mode=dbg

build:opt --compilation_mode=opt

build:san-common --config=dbg --strip=never --copt=-O0 --copt=-fno-omit-frame-pointer

# build:asan --config=san-common --copt=-fsanitize=address --linkopt=-fsanitize=address
# build:asan --dynamic_mode=off

# ASan 配置
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer   # 提升堆栈跟踪可读性
build:asan --strip=never                    # 保留调试符号
build:asan -c dbg                           # 建议使用 Debug 模式
build:asan --linkopt=-lasan

build:msan --config=san-common --copt=-fsanitize=memory --linkopt=-fsanitize=memory
build:msan --copt=-fsanitize-memory-track-origins
build:msan --copt=-fsanitize-memory-use-after-dtor
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

build:tsan --config=san-common --copt=-fsanitize=thread --linkopt=-fsanitize=thread

build:ubsan --config=san-common --copt=-fsanitize=undefined --linkopt=-fsanitize=undefined
build:ubsan --action_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1
# Workaround for the fact that Bazel links with $CC, not $CXX
# https://github.com/bazelbuild/bazel/issues/11122#issuecomment-613746748
build:ubsan --copt=-fno-sanitize=function --copt=-fno-sanitize=vptr
# Abseil passes nullptr to memcmp with 0 size
build:ubsan --copt=-fno-sanitize=nonnull-attribute

# Important: this flag ensures that we remain compliant with the C++ layering
# check.
build --features=layering_check

common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1

common --enable_platform_specific_config

build --subcommands
# build --sandbox_debug