# -----------------------------------------------------------------------------
# common 配置
# -----------------------------------------------------------------------------
common --experimental_downloader_config=bazel_downloader.cfg
common --enable_bzlmod 

# -----------------------------------------------------------------------------
# Common build configuration for bazel build
# -----------------------------------------------------------------------------
build --show_timestamps
build --subcommands
build --verbose_failures
build --disk_cache=~/.cache/bazel
build --force_pic
# build --sandbox_debug
build --config=Debug
build --copt="-Werror=return-type"
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --copt="-fdiagnostics-color=always"
build --copt=-Wall
build --copt=-Wfatal-errors
build --copt=-Wno-unused-parameter
build --copt=-Werror

# -----------------------------------------------------------------------------
# Build type config
# -----------------------------------------------------------------------------
build:Debug --copt=-g
build:Debug --cxxopt=-g
build:Debug --copt=-O0
build:Debug --compilation_mode=dbg
build:Debug --strip=never

build:dbg --compilation_mode=dbg
build:opt --compilation_mode=opt
build:san-common --config=dbg --strip=never --copt=-O0 --copt=-fno-omit-frame-pointer

# ASan 配置
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer   # 提升堆栈跟踪可读性
build:asan --strip=never                    # 保留调试符号
build:asan -c dbg                           # 建议使用 Debug 模式
build:asan --linkopt=-lasan

build:msan --config=san-common --copt=-fsanitize=memory --linkopt=-fsanitize=memory
build:msan --copt=-fsanitize-memory-track-origins
build:msan --copt=-fsanitize-memory-use-after-dtor
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

build:tsan --config=san-common --copt=-fsanitize=thread --linkopt=-fsanitize=thread

build:ubsan --config=san-common --copt=-fsanitize=undefined --linkopt=-fsanitize=undefined
build:ubsan --action_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1
build:ubsan --copt=-fno-sanitize=function --copt=-fno-sanitize=vptr
build:ubsan --copt=-fno-sanitize=nonnull-attribute

# -----------------------------------------------------------------------------
# clang 14
# -----------------------------------------------------------------------------
build:x86 --platforms=//:clang_14_x86_64
build:x86 --define=--platform=x86

# -----------------------------------------------------------------------------
# riscv
# -----------------------------------------------------------------------------
build:riscv --platforms=//:riscv
build:riscv --define=--platform=riscv
build:riscv --toolchain_resolution_debug='@bazel_tools//tools/cpp:toolchain_type'

# -----------------------------------------------------------------------------
# 如何使用 Bazel 离线编译
# -----------------------------------------------------------------------------
# Step1. 在 bazelrc 中配置：
# common --repository_cache=bazel/repository_cache/
# common --registry="file:////home/tianlan/test/bazel/bazel/bazel-central-registry"
# Step2. 执行 bazel fetch //src:node
# Step3. 去掉 build --disk_cache 配置
# build --disk_cache=~/.cache/bazel
# Step4. 断网
# Step5. 测试 bazel build //src:node

# -----------------------------------------------------------------------------
# Bazel test
# -----------------------------------------------------------------------------
test --test_verbose_timeout_warnings
test --test_output=all
