# Build
/bazel-*
/output
/build
/external
/MODULE.bazel.lock
!/bazel-complete.bash
/compile_commands.json

# Clangd
/.clangd
/.cache

# Coverage
/genhtml

/*.txt
/*.gz

# rust
/rust/target

# thirdparty
/thirdparty/spdlog-1.16.0/build/
/thirdparty/spdlog-1.16.0/output/
/thirdparty/spdlog-1.16.0/logs/
/thirdparty/glog-0.7.1/
/thirdparty/ros2_jazzy/
/thirdparty/*.bz2

# params
/*.params

# gperftools
/*.heap
/*.pdf

/logs

/.cache/