# Build
/bazel-*
/output
/build
/external
/MODULE.bazel.lock
!/bazel-complete.bash
/compile_commands.json

# Clangd
/.clangd
/.cache

# Coverage
/genhtml

/*.txt
/*.gz

# rust
/rust/target

# thirdparty
/thirdparty/spdlog-1.16.0/build/
/thirdparty/spdlog-1.16.0/output/
/thirdparty/spdlog-1.16.0/logs/

# params
/*.params
